<div class="well">
  <ul style="margin: 0px;">
    <li><strong><%= user.name %></strong></li>
    <li><%= user.email %></li>
    <li><%= user.phone_number %></li>
    <li><%= link_to "Edit", edit_staff_member_path(user) %></li>
  </ul>
</div>